* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $body-color;
  color: $text-color;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.container {
  width: 90%;
  margin: 0 auto;
}
input {
  border: none;
  outline: none;
}
