%delete-countdown-btns {
  i {
    font-size: toRem(20);
    color: $text-color;
  }
}

.btn {
  border: toRem(4) solid $btn-color;
  background-color: #fff;
  transition: 0.5s ease;
  color: $btn-color;
  &:hover {
    color: #fff;
    background: $gradient;
  }
}

.add-btn {
  width: toRem(60);
  height: toRem(60);
  border-radius: 50%;
  position: fixed;
  right: toRem(30);
  bottom: toRem(30);
  .icon-calendar-plus-regular {
    font-size: toRem(25);
  }
}

.buttons {
  transition: 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  text-align: center;
  padding: toRem(20);
  box-sizing: border-box;
  color: #ffffff;
  opacity: 0;
  z-index: 222;
  .delete-btn,
  .countdown-btn {
    @extend %delete-countdown-btns;
  }
}
