.modal {
  @include display($n);
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(36, 29, 51, 0.9);
  .close-modal {
    width: toRem(40);
    height: toRem(40);
    font-size: toRem(25);
    @include centered;
    border-radius: 50%;
    position: fixed;
    top: toRem(30);
    right: toRem(30);
  }
}

.modal.active {
  @include centered;
}
