html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #241d33;
  color: #241d33; }

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent; }

.container {
  width: 90%;
  margin: 0 auto; }

header {
  text-align: center;
  font-size: 2rem;
  padding: 0.9375rem 0rem 0.9375rem 0rem;
  color: #fff;
  font-weight: 700; }

.buttons .delete-btn i,
.buttons .countdown-btn i {
  font-size: 1.25rem;
  color: #241d33; }

#openModal {
  border: 0.25rem solid #241d33;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  right: 1.875rem;
  bottom: 1.875rem;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease; }
  #openModal .icon-calendar-plus-regular {
    font-size: 1.5625rem;
    color: #241d33; }
  #openModal:hover {
    background: -webkit-gradient(linear, left top, right top, from(#743ad5), to(#d53a9d));
    background: linear-gradient(to right, #743ad5, #d53a9d); }
    #openModal:hover .icon-calendar-plus-regular {
      color: #fff; }

.buttons {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  opacity: 0;
  z-index: 222; }

.add-event-form {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.modal #closeModal:hover, .modal #closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal #closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }

.modal.active {
  display: block; }

.events-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.event-list-item {
  width: 22%;
  min-height: 9.375rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.9375rem 0.625rem 0.9375rem 0.625rem;
  position: relative;
  background-color: #241d33;
  color: #fff;
  background-clip: padding-box;
  border: 0.1875rem solid transparent;
  border-radius: 0.625rem;
  margin: 1.25rem 0.625rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .event-list-item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -0.1875rem;
    border-radius: inherit;
    background: -webkit-gradient(linear, left top, right top, from(#743ad5), to(#d53a9d));
    background: linear-gradient(to right, #743ad5, #d53a9d); }
  .event-list-item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 111;
    background: -webkit-gradient(linear, left top, right top, from(#743ad5), to(#d53a9d));
    background: linear-gradient(to right, #743ad5, #d53a9d);
    border-radius: inherit;
    opacity: 0; }
  .event-list-item .name {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    text-align: center; }
  .event-list-item .date {
    width: 50%;
    display: block;
    font-size: 0.875rem;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto; }
  .event-list-item:hover:after {
    opacity: 1;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear; }
  .event-list-item:hover .buttons {
    opacity: 1;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear; }

/*# sourceMappingURL=main.css.map */